@import "../util";
@import "../const";

.events {
  .section-box {
    @include btn__split(#50c240, $theme-primary-color, $text-header-color);
  }

  .img-box {
    position: relative;
    min-height: 70vh;

    img {
      position: absolute;
      width: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@include small-tab{
  .events {
    .img-box{
      min-height: 60vh;
    }
  }
}

@include large-phone{
  .events {
    .img-box{
      min-height: 30vh;
    }
  }
}