@import "../util";

.introduction {

  .row {
    margin: 5% 0;


    .acc-logo {
      height: 4rem;
      width: 4rem;
    }
  }

  .row:nth-child(2) {
    .text-box {
      text-align: left;
      padding: 0 5%;
    }
  }

  &-club {
    text-align: center;
  }

  .image-slider{
    height: 40vh;
    width: 100%;
  }

}

@include small-tab{
  .introduction {
    .img-box {
      min-height: 25rem;

      .first {
        top: 60%;
      }

      .third {
        top: 40%;
      }
    }
  }
}

@include large-phone{
  .introduction {
    margin-top: 15%;
    .row:nth-child(2) {
      .text-box {
        padding: 7% 2%;
      }
    }
    .img-box {
      min-height: 20rem;
    }
  }
}

@include mid-phone{
  .introduction {
    .img-box {
      min-height: 17rem;

    }
  }
}