@import "../const";
@import "../util";
.sectors {
  padding: 5% 5%;
  background: #1a1e41;
  .section-header {
    margin-top: 0;
    margin-bottom: 5%;
    h2 {
      color: $theme-secondary-color;
    }

    p {
      color: #e1e1e1;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #232241;
    padding: 14px 10px;
    min-height: 17rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    position: relative;

    h4 {
      color: $theme-secondary-color;
      margin: 10px 0;
      z-index: 2;
    }

    p {
      color: #e1e1e1;
      z-index: 2;
    }

    &-logo-container {
      height: 3.5rem;
      width: 3.5rem;
      background-color: $theme-secondary-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $theme-primary-color;;
      z-index: 2;

    }

    &-logo {
      color: $text-header-color;
      width: 2rem;
      z-index: 2;
    }

    &:hover {
      transform: scale(1.1);
      z-index: 4;

      h4 {
        color: $theme-primary-color;
      }

      p {
        color: #232241;
      }

      & .logo-container {
        border: 2px solid $theme-primary-color;;
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $text-header-color;
        top: 0;
        z-index: 1;
        animation-name: height-100;
        animation-duration: 0.5s;

      }
    }

  }

  .row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;
  }


}



@include tablet{
  .sectors {
    padding: 8% 5%;
    .row {
      grid-template-columns: 50% 50%;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
}

@include large-phone{
  .sectors {
    .sectors {
      padding: 10% 5%;
    }

    .row {
      grid-template-columns: 90%;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
}

