
@keyframes header-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes width-big {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 110%;
    width: 120%;
  }
}


.type-writer-span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes come-from-top {
  0% {
    transform: translateY(20px);

  }
  100% {
    transform: translateY(0);
  }
}

@keyframes height-100 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}


.sector-animated{
  animation-name: come-from-top;
  animation-duration: 1s;
  transition: all 1s ease-in;
}

