{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACCITC</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Rubik:wght@300;400;500&display=swap"
          rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet" >
    {% block styles %}
    {% endblock %}
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>


<body class="light">

<nav class="navbar">
    <div class="logo-container">
        <div class="logo-box">
            <img src="{% static 'img/logo.png' %}" alt="">
        </div>
        <h4>ACC ITC</h4>
    </div>
    <div class="menu-container">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a><span></span><span></span><span></span><span></span></li>
            <li><a href="{% url 'home' %}#introduction">About</a><span></span><span></span><span></span><span></span></li>
            <li><a href="{% url 'home' %}#sector">Sectors</a><span></span><span></span><span></span><span></span></li>
            <li><a href="{% url 'home' %}#event_section">Events</a><span></span><span></span><span></span><span></span></li>
            <li><a href="{% url 'home' %}#contact_us">Contact Us</a><span></span><span></span><span></span><span></span></li>
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
<footer>
    <div class="footer-content">
        <div class="row">
            <div>
                <h3 class="footer-title">ACCITC</h3>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'home' %}#introduction">About</a></li>
                    <li><a href="{% url 'home' %}#sector">Sectors</a></li>
                    <li><a href="{% url 'home' %}#event_section">Events</a></li>
                    <li><a href="{% url 'home' %}#contact_us">Contact Us</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>itclub@acc.edu.bd</li>
                    <li>+88 017-20-350-007</li>
                    <li>Adamjee Cantonment College, Dhaka Cantonment, Dhaka - 1206, Bangladesh</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <p><strong>&copy2020 ACCITC.All Rights Reserved</strong></p>
        <p><strong>Designed by Khan Asfi Reza <br> Developed by Khan Asfi Reza & Nafis Reza</strong></p>
    </div>
</footer>
</body>
<script>
   // const hamburger = document.querySelector(".hamburger");
  //  const navLinks = document.querySelector(".nav-links");
   // const links = document.querySelectorAll(".nav-links li");
   // hamburger.addEventListener("click", () => {
  //  hamburger.classList.toggle('open');
  //  navLinks.classList.toggle("open");
  //  links.forEach(link => {
  //      link.classList.toggle("fade");
 //   });
//});
</script>
{% block scripts %}
{% endblock %}
</html>

